.container {
  padding: 0 2rem;
}

.main {
  min-height: 100vh;
  padding-bottom: 4rem;
}

.title {
  display: flex;
  justify-content: center;
}

.footer {
  position: sticky;
  bottom: 0;
  background-color: #fff;
  font-size: 12px;
  display: flex;
  flex-direction: column;
  padding: 1rem 0;
  border-top: 1px solid #eaeaea;
  justify-content: center;
  align-items: center;
}

.textAreas {
  margin-right: -1rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.oldText, .newText {
  height: 300px;
  width: 100%;
  max-width: 500px;
  margin-right: 1rem;
  margin-bottom: 1rem;
  resize: none;
  padding: 1rem;
  font-size: 16px;
}

.diffContainer {
  display: flex;
  justify-content: center;
}

.diffText {
  margin: 0;
  background-color: #eee;
  max-width: 500px;
  padding: 1rem;
  white-space: normal;
  width: 100%;
  font-size: 16px;
}

.diffText del {
  color: red;
}

.diffText ins {
  color: green;
}
